.footer{

    height: 560px;
  background-color: #f8f8f8;
  
  }
  
  .footer__container__logo{
  
    font-size: 46px;
  color: #cccccc;
  font-weight: 700;
  font-family: "Montserrat";
  
  }

  .footer__container__paragraph{

    width: 472px;
height: 102px;
font-size: 15px;
line-height: 24px;
color: #999999;
font-weight: 400;
font-family: "Roboto";
  }

  .footer__container__links__txt{

    font-size: 15px;
line-height: 24px;
color: #999999;
font-weight: 300;
font-style: italic;
font-family: "Roboto";
  }


  .footer__container__fllowers{

    font-size: 18px;
color: #333333;
font-weight: 700;
font-family: "Montserrat";
  }

  form button{

    background-color: #95E1D3;
    font-size: 14px;
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
text-align: center;
border-color: transparent;
  }


  form input{


    border:2px  solid #d8d5d5;
  }
  .media-body h5{

    font-size: 12px;
    line-height: 18px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
  }
.media-body h6{
  font-size: 13px;
line-height: 24px;
color: #999999;
font-weight: 300;
font-style: italic;
font-family: "Roboto";
}

  